.slider h1{
    animation-name: anime;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes anime{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(calc(-100% - 40px));
    }
}